body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #146583, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.is-featured{
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(185, 114, 47);
    opacity: 70%;
    border-radius: 15px;
    color: black;
}

.is-featured:hover, .is-featured:focus{
    color:white;
    text-decoration: none;
}

cite{
    color:black;
    font-size: 150%;  
    font-weight: bold;
    background: white;
    opacity: 60%;
}

p{
    background: white;
    opacity: 60%;
    color:black;
}



