body {
	background: url("https://images.unsplash.com/photo-1591617870684-6e861e6a48ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=892&q=80") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
}

.pos-f-t{
	font-family: 'Cormorant Garamond', serif;
	color: white;
}

h5{
	font-family: 'Cormorant Garamond', serif;
}

a{
	text-decoration: none;
	color:white;
	font-size: 120%;
	font-weight: bolder;
}

li:hover{
	background-color: #EE666C;
	transform: (1.1);
}


ul{
	list-style-type: none;
}

.pos-f-t{
	float:left;
}

li{
	border-radius: 15px;
	transition: 0.5s;
}






